
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
<link href="~/Content/style(prode).css" rel="stylesheet" />

<div class="tieu-de">
    <div class="dong-tieu-de">
        <h1>ALL VANS | Tất Cả Sản Phẩm Tại VANS Việt Nam</h1>
    </div>
    <div class="duong-dan">
        <span><a href="@Url.Action("Index", "TrangChu")">Trang chủ</a></span>
        <span>/</span>
        <SPAN><a href="#">Sale Off 10%</a></SPAN>
        <span>/</span>
        <span class="chu-do">VANS AUTHENTIC CLASSIC BLACK/WHITE</span>
    </div>
</div>

<main>
    <div>
        <div class="mid container">
            <div class="product">
                <div class="zoomer">
                    <img src="https://bizweb.dktcdn.net/thumb/1024x1024/100/140/774/products/vans-authentic-classic-black-vn000ee3blk-1.png">
                    <div id="mirror"></div>
                </div>
                <div class="giay2">
                    <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-authentic-classic-black-vn000ee3blk-1.png?v=1625925617317">
                    <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-authentic-classic-black-vn000ee3blk-2.png?v=1625925620597">
                    <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-authentic-classic-black-vn000ee3blk-3.png?v=1625925623543">
                    <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-authentic-classic-black-vn000ee3blk-4.png?v=1625925626347">
                </div>
            </div>
            <div class="cot">
                <div class="tieude">
                    <h2>VANS AUTHENTIC CLASSIC BLACK/WHITE</h2>
                </div>
                <div class="masp">
                    <span class="name1">Thương hiệu: </span><span class="name">VANS</span>
                    <span>/</span>
                    <span class="name1">Mã sản phẩm:</span><span class="name">VN000EE3BLK</span>
                </div>
                <div class="line"></div>
                <div class="cost">1.450.000₫</div>
                <div class="bottom-size">
                    <div class="header">SIZE</div>
                    <div class="size-selector">
                        <div class="size-options">
                            <input type="radio" id="size-34" name="size" value="34">
                            <label for="size-34">34</label>

                            <input type="radio" id="size-34.5" name="size" value="34.5">
                            <label for="size-34.5">34.5</label>

                            <input type="radio" id="size-35" name="size" value="35">
                            <label for="size-35">35</label>

                            <input type="radio" id="size-36" name="size" value="36">
                            <label for="size-36">36</label>

                            <input type="radio" id="size-36.5" name="size" value="36.5">
                            <label for="size-36.5">36.5</label>

                            <input type="radio" id="size-37" name="size" value="37">
                            <label for="size-37">37</label>

                            <input type="radio" id="size-38" name="size" value="38">
                            <label for="size-38">38</label>

                            <input type="radio" id="size-38.5" name="size" value="38.5">
                            <label for="size-38.5">38.5</label>

                            <input type="radio" id="size-39" name="size" value="39">
                            <label for="size-39">39</label>

                            <input type="radio" id="size-40" name="size" value="40">
                            <label for="size-40">40</label>

                            <input type="radio" id="size-40.5" name="size" value="40.5">
                            <label for="size-40.5">40.5</label>

                            <input type="radio" id="size-41" name="size" value="41">
                            <label for="size-41">41</label>

                            <input type="radio" id="size-42" name="size" value="42">
                            <label for="size-42">42</label>

                            <input type="radio" id="size-42.5" name="size" value="42.5">
                            <label for="size-42.5">42.5</label>

                            <input type="radio" id="size-43" name="size" value="43">
                            <label for="size-43">43</label>

                            <input type="radio" id="size-44" name="size" value="44">
                            <label for="size-44">44</label>

                            <input type="radio" id="size-44.5" name="size" value="44.5">
                            <label for="size-44.5">44.5</label>

                            <input type="radio" id="size-45" name="size" value="45">
                            <label for="size-45">45</label>

                            <input type="radio" id="size-46" name="size" value="46">
                            <label for="size-46">46</label>

                            <input type="radio" id="size-47" name="size" value="47">
                            <label for="size-47">47</label>
                        </div>
                    </div>
                    <div class="tinhtien-soluong">
                        <div class="soluong-giohang">
                            <div class="soluong">
                                <button class="minus-btn" onclick="handleMinus()">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
                                    </svg>
                                </button>
                                <input type="text" name="amount" id="amount" value="1">
                                <button class="plus-btn" onclick="handlePlus()">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                    </svg>
                                </button>

                            </div>
                            <div class="mua-ngay">
                                <button onclick="hienModal('Sản phẩm 1', 1450000)"><i class="fa-solid fa-bag-shopping"></i> Mua ngay</button>
                            </div>
                            <!-- Modal -->
                            <div class="overlay" id="overlay"></div>
                            <div class="modal" id="modal">
                                <div class="left-block">
                                    <h3><i class="fa-solid fa-check"></i> Bạn vừa thêm sản phẩm vào giỏ hàng</h3>
                                    <div class="modal-body">
                                        <div class="media">
                                            <div class="media-left"><img src="https://bizweb.dktcdn.net/thumb/1024x1024/100/140/774/products/vans-authentic-classic-black-vn000ee3blk-1.png"></div>
                                            <div class="media-body">
                                                <div class="product-title">VANS AUTHENTIC CLASSIC BLACK/WHITE - 42</div>
                                                <div class="product-new-price">
                                                    <span>1.450.000</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="right-block">
                                    <h3 class="title"><i class="fa-solid fa-bag-shopping"></i><a href="@Url.Action("Index", "Cart")"> Giỏ hàng của bạn</a></h3>
                                    <div class="total-price">
                                        <div class="total-price-h">Tổng tiền</div>
                                        <div class="modal-body-2">
                                            <span id="donGia"></span>
                                            <br>
                                            <div class="button-dathang">
                                                <button onclick="anModal()">Đóng</button>
                                            </div>
                                            <div class="container">
                                                <div class='row' id='products'></div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="hotro">Tư vấn: <a href="#">0866956907</a></div>
                    <div class="size-chart"><a href="#">SIZE CHART</a></div>
                </div>

            </div>

        </div>
    </div>
    
   
    <div class="logo">
        <img src="https://bizweb.dktcdn.net/100/140/774/themes/827866/assets/bg_product_col.jpg?1693938199648">
    </div>
</main>
<div class="info">
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'thongtin')" id="defaultOpen">Thông tin sản phẩm</button>
        <button class="tablinks" onclick="openCity(event, 'size')">Cách đo size VANS</button>
    </div>

    <div id="thongtin" class="tabcontent">
        <p>
            Khi thế giới ngày càng phát triển hơn về mọi mặt, thời trang cũng vì thế mà không ngừng tiến bước về phía trước. Nhưng! Tất cả những cái
            mới đều được xây dựng dựa trên một thứ gọi là NỀN TẢNG. Và dĩ nhiên, <b>VANS</b> được cộng đồng thể thao biết đến như một thương hiệu
            thời trang chuyên về giày dành cho các bộ môn nghệ thuật đường phố, nổi bật là trượt ván. Với chiều dài hoạt động chuyên môn hơn 50
            năm trong ngành thời trang may mặc, thương hiệu được sáng lập bởi một nghệ nhân giày - ông Paul Van Doren vào năm 1966. <b>VANS</b>
            được đặt trụ sở đầu tiên tại Anaheim, California, Mỹ và hoạt động cho đến ngày nay. <b>VANS AUTHENTIC </b>là một trong những sản phẩm
            xung phong đầu tiên, mở đầu cho một con đường tiếp nối đam mê của một thương hiệu giày vươn tầm thế giới. Và khi mà cái cũng cùng
            cái mới giao thoa kết hợp cùng với sự tinh tế và sự cố gắng không ngừng phá bỏ giới hạn của nhà <b>OFF THE WALL</b>, một tinh hoa đã của
            làng Sneaker đã ra đời được ra mắt sớm nhất từ năm 1966 với tên gọi VANS #44, được trang bị đế cao su độ bám tốt cho những môn thể thao
            mạo hiểm như trượt ván, BMX v.v..., upper vải canvas cao cấp, phong cách cổ điển hợp với cả nam lẫn nữ.
        </p>
        <center><img src="https://bizweb.dktcdn.net/100/140/774/products/vans-authentic-classic-black-vn000ee3blk-2.png?v=1625925620597"></center>
        <h4>VANS CLASSIC AUTHENTIC BLACK/WHITE:</h4>
        <p>
            Là phiên bản được ưa chuộng nhất trong bộ sưu tập <b>Authentic</b> của <b>VANS</b> với sự kết hợp 2 màu đen trắng dễ phối đồ và custom, đặc biệt
            là phiên bản cổ nhất có tuổi đời hơn 50 năm, dù vậy vẫn được fan hâm mộ săn đón và được sử dụng khá nhiều với những vận động viên
            trượt ván chuyên nghiệp. <b>VANS CLASSIC AUTHENTIC BLACK/WHITE</b> được đánh giá là một siêu phẩm cần có khi bạn quyết định sẽ trở
            thành một tín đồ của nhà <b>VANS</b> đấy!
        </p>
        <center><img src="https://bizweb.dktcdn.net/100/140/774/products/vans-authentic-classic-black-vn000ee3blk-3.png?v=1625925623543"></center>
        <center><img src="https://bizweb.dktcdn.net/100/140/774/products/vans-authentic-classic-black-vn000ee3blk-4.png?v=1625925626347"></center>
        <center><img src="https://bizweb.dktcdn.net/100/140/774/products/vans-authentic-classic-black-vn000ee3blk-1.png?v=1625925617317"></center>
        <center><img src="https://bizweb.dktcdn.net/100/140/774/products/vans-authentic-classic-black-vn000ee3blk-5.png?v=1625925629497"></center>
    </div>

    <div id="size" >
        <p>
            Các bước kiểm tra size giày VANS:

            Bước 1: Chuẩn bị một tờ giấy và đặt chân lên tờ giấy đó.

            Bước 2: Vẽ gót chân và mũi chân lên tờ giấy.

            Bước 3: Kẻ 1 đường từ đầu gót chân đến đầu ngón dài nhất như hình (lưu ý: sử dụng ngón chân dài nhất vì một số người dài ngón cái, một số người dài ngón giữa v.v...)

            Bước 4: Đo chiều dài đường thẳng vừa kẻ và so sánh với mục Cm của bảng size.
        </p>
        <center><img src="https://bizweb.dktcdn.net/100/140/774/files/bang-size-vans-chuan-nhat-1.jpg?v=1626244976740"></center>
        <p>
            Lưu ý: Mỗi hãng thể thao có mỗi bảng size khác nhau, không áp dụng size của hãng khác vào hãng VANS.

            Những sản phẩm thuộc VANSVN phân phối sẽ có những yếu tố sau đây:

        </p>
        <center><img src="https://bizweb.dktcdn.net/100/140/774/files/vans-vinh-quang-minh.jpg?v=1626767992769" /></center>
        <p>Những sản phẩm không có phiếu bảo hành, tag độc quyền v.v... chúng tôi sẽ không chịu trách nhiệm cho sản phẩm đó</p>
    </div>



</div>
<div class="container">
    <div class="nen">
        <div class="area">
            <div class="vans-best-seller">
                <span class="line">_____________________</span>
                <h2><a href="#" class="bestseller">VANS BEST SELLER</a></h2>
                <span class="line">_____________________</span>
            </div>
            <div class="item-best">
                <div class="vans16">
                    <img class="classic" src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-old-skool-black-white-vn000d3hy28-2.jpg?v=1661757331440">
                    <div class="Pro-view">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-old-skool-black-white-vn000d3hy28-1.jpg?v=1661757331440">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-old-skool-black-white-vn000d3hy28-3.jpg?v=1661757331440">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-old-skool-black-white-vn000d3hy28-2.jpg?v=1661757331440">
                    </div>
                    <div class="Pro-name">VANS OLD SKOOL CLASSIC..<br>VANS</div>
                    <div class="Pro-cost">1.850.000₫</div>
                </div>
                <div class="vans17">
                    <img class="classic" src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-slip-on-checkerboard-black-off-white-vn000eyebww-2.png?v=1625923440187">
                    <div class="Pro-view">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-slip-on-checkerboard-black-off-white-vn000eyebww-1.png?v=1625923436960">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-slip-on-checkerboard-black-off-white-vn000eyebww-2.png?v=1625923440187">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-slip-on-checkerboard-black-off-white-vn000eyebww-3.png?v=1625923334863">
                    </div>
                    <div class="Pro-name">VANS CHECKERBOORD CLIP-ON..<br>VANS</div>
                    <div class="Pro-cost">1.450.000₫</div>
                </div>
                <div class="vans18">
                    <img class="classic" src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-sk8-hi-classic-black-white-vn000d5ib8c-1.jpg?v=1625938546987">
                    <div class="Pro-view">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-sk8-hi-classic-black-white-vn000d5ib8c-1.jpg?v=1625938546987">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-sk8-hi-classic-black-white-vn000d5ib8c-2.jpg?v=1625938551507">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-sk8-hi-classic-black-white-vn000d5ib8c-3.jpg?v=1625938555997">
                    </div>
                    <div class="Pro-name">VANS CLASSIC SK8-HI..<br>VANS</div>
                    <div class="Pro-cost">1.950.000₫</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js(cart).js"></script>
<script src="~/Content/js(prode).js"></script>