
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
<link href="~/Content/style(cate).css" rel="stylesheet" />

<div class="tieu-de">
    <div class="dong-tieu-de">
        <h1>ALL VANS | Tất Cả Sản Phẩm Tại VANS Việt Nam</h1>
    </div>
    <div class="duong-dan">
        <span><a href="@Url.Action("Index", "TrangChu")">Trang chủ</a></span>
        <span>/</span>
        <span class="chu-do">ALL VANS</span>
    </div>
</div>
<!-- <div class="filter">
            <div class="danh-muc">
                <label class="danh-muc">Danh mục</label>
                <select class="select-danhmuc" >
                    <option value="0"></option>
                    <option value="1"><a class="option" href="#">ALL VANS</a></option>
                    <option value="2"><a class="option" href="#">SHOES</a></option>
                    <option value="3"><a class="option" href="#">NEW ARRIVALS</a></option>
                    <option value="4"><a class="option" href="#">ACCESSORIES</a></option>
                    <option value="5"><a class="option" href="#">COLEECTION</a></option>
                    <option value="6"><a class="option" href="#">SALE OFF</a></option>
                    <option value="7"><a class="option" href="#">SIZE CHART</a></option>
                    <option value="8"><a class="option" href="#">ABOUT US</a></option>
                    <option value="9"><a class="option" href="#">LAST VANS NEWS</a></option>
                </select>
            </div>
            <div class="mau-sac">
                <label class="mau-sac">Màu sắc</label>
                <select class="select-mausac">
                    <div class="red">1</div>
                    <div class="black">1</div>
                    <div class="white">1</div>
                    <div class="blue">1</div>
                    <div class="green">1</div>
                    <div class="yellow">1</div>
                    <div class="brown">1</div>
                    <div class="purple">1</div>
                    <div class="grey">1</div>
                </select>
            </div>
            <div class="sale-off">
                <label class="sale-off">SALE OFF</label>
                <select class="select-saleoff">
                    <input type="radio" class="tick1" name="Sale10%"><label for="Sale10%">Sale10%</label>
                    <input type="radio" class="tick1" name="Sale30%"><label for="Sale30%">Sale30%</label>
                    <input type="radio" class="tick1" name="Sale50%"><label for="Sale50%">Sale50%</label>
                </select>
            </div>
            <div class="thuong-hieu">
                <label class="thuong-hieu">Thương hiệu</label>
                <select class="select-thuonghieu">
                    <option><input type="radio" class="tick2" name="VANS"><label for="VANS">VANS</label></option>
                    <input type="radio" class="tick2" name="VANS VAULT"><label for="VANS VAULT">VANS VAULT</label>
                </select>
            </div>
            <div class="sap-xep-theo">
                <label class="sap-xep-theo">Sắp xếp theo</label>
                <select class="select-sapxeptheo" >
                    <option value="1"><a class="option" href="#">Mặc định</a></option>
                    <option value="2"><a class="option" href="#">A -> Z</a></option>
                    <option value="3"><a class="option" href="#">Z -> A</a></option>
                    <option value="4"><a class="option" href="#">Giá tăng dần</a></option>
                    <option value="5"><a class="option" href="#">Giá giảm dần</a></option>
                    <option value="6"><a class="option" href="#">Hàng mới nhất</a></option>
                    <option value="7"><a class="option" href="#">Hàng cũ nhất</a></option>
                </select>
            </div>
        </div> -->







<div class="pro-cate">
    <div class="main-pro-cate">
        <div class="select-choose">
        </div>
        <div class="items-pro-cate container">
            <div class="dong01">
                <div class="vans1">
                    <div class="block">
                        <a href="@Url.Action("Index", "ProductDetail")"><img class="classic" src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-authentic-classic-black-vn000ee3blk-2.png?v=1625925620597"></a>
                        <button class="nut">Tùy chọn</button>
                    </div>
                    <div class="Pro-view">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-authentic-classic-black-vn000ee3blk-1.png?v=1625925617317">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-authentic-classic-black-vn000ee3blk-2.png?v=1625925620597">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-authentic-classic-black-vn000ee3blk-3.png?v=1625925623543">
                    </div>
                    <div class="Pro-name">VANS AUTHENTIC CLASSIC..<br />VANS</div>
                    <div class="Pro-cost">1.450.000₫</div>
                </div>
                <div class="vans2">
                    <div class="block">
                        <img class="classic" src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-old-skool-black-white-vn000d3hy28-2.jpg?v=1661757331440">
                        <button class="nut">Tùy chọn</button>
                    </div>
                    <div class="Pro-view">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-old-skool-black-white-vn000d3hy28-1.jpg?v=1661757331440">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-old-skool-black-white-vn000d3hy28-3.jpg?v=1661757331440">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-old-skool-black-white-vn000d3hy28-2.jpg?v=1661757331440">
                    </div>
                    <div class="Pro-name">VANS OLD SKOOL CLASSIC..<br />VANS</div>
                    <div class="Pro-cost">1.850.000₫</div>
                </div>
                <div class="vans3">
                    <div class="block">
                        <img class="classic" src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-slip-on-checkerboard-black-off-white-vn000eyebww-2.png?v=1625923440187">
                        <button class="nut">Tùy chọn</button>
                    </div>
                    <div class="Pro-view">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-slip-on-checkerboard-black-off-white-vn000eyebww-1.png?v=1625923436960">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-slip-on-checkerboard-black-off-white-vn000eyebww-2.png?v=1625923440187">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-slip-on-checkerboard-black-off-white-vn000eyebww-3.png?v=1625923334863">
                    </div>
                    <div class="Pro-name">VANS CHECKERBOORD CLIP-ON..<br />VANS</div>
                    <div class="Pro-cost">1.450.000₫</div>
                </div>
                <div class="vans4">
                    <div class="block">
                        <img class="classic" src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-sk8-hi-classic-black-white-vn000d5ib8c-1.jpg?v=1625938546987">
                        <button class="nut">Tùy chọn</button>
                    </div>
                    <div class="Pro-view">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-sk8-hi-classic-black-white-vn000d5ib8c-1.jpg?v=1625938546987">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-sk8-hi-classic-black-white-vn000d5ib8c-2.jpg?v=1625938551507">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-sk8-hi-classic-black-white-vn000d5ib8c-3.jpg?v=1625938555997">
                    </div>
                    <div class="Pro-name">VANS CLASSIC SK8-HI..<br />VANS</div>
                    <div class="Pro-cost">1.950.000₫</div>
                </div>
                <div class="vans5">
                    <div class="block">
                        <img class="classic" src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-old-skool-classic-true-white-vn000d3hw00-1.jpg?v=1625921894730">
                        <button class="nut">Tùy chọn</button>
                    </div>
                    <div class="Pro-view">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-old-skool-classic-true-white-vn000d3hw00-1.jpg?v=1625921894730">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-old-skool-classic-true-white-vn000d3hw00-2.jpg?v=1625921897390">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-old-skool-classic-true-white-vn000d3hw00-3.jpg?v=1625921899803">
                    </div>
                    <div class="Pro-name">VANS CANVAS OLD SKOOL..<br />VANS</div>
                    <div class="Pro-cost">1.750.000₫</div>
                </div>
                <div class="vans6">
                    <div class="block">
                        <img class="classic" src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-slip-on-classic-true-white-vn000eyew00-1.jpg?v=1625935596193">
                        <button class="nut">Tùy chọn</button>
                    </div>
                    <div class="Pro-view">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-slip-on-classic-true-white-vn000eyew00-1.jpg?v=1625935596193">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-slip-on-classic-true-white-vn000eyew00-2.jpg?v=1625935598797">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-slip-on-classic-true-white-vn000eyew00-3.jpg?v=1625935601523">
                    </div>
                    <div class="Pro-name">VANS SLIP-ON CLASSIC TRUE..<br />VANS</div>
                    <div class="Pro-cost">1.450.000₫</div>
                </div>
                <div class="vans7">
                    <div class="block">
                        <img class="classic" src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-sk8-hi-classic-true-white-vn000d5iw00-1.jpg?v=1625937754527">
                        <button class="nut">Tùy chọn</button>
                    </div>
                    <div class="Pro-view">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-sk8-hi-classic-true-white-vn000d5iw00-1.jpg?v=1625937754527">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-sk8-hi-classic-true-white-vn000d5iw00-2.jpg?v=1625937758360">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-sk8-hi-classic-true-white-vn000d5iw00-3.jpg?v=1625937760897">
                    </div>
                    <div class="Pro-name">VANS SK8-HI CLASSIC TRUE..<br />VANS</div>
                    <div class="Pro-cost">2.000.000₫</div>
                </div>
                <div class="vans8">
                    <div class="block">
                        <img class="classic" src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-authentic-classic-true-white-vn000ee3w00-1.jpg?v=1625932182133">
                        <button class="nut">Tùy chọn</button>
                    </div>
                    <div class="Pro-view">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-authentic-classic-true-white-vn000ee3w00-1.jpg?v=1625932182133">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-authentic-classic-true-white-vn000ee3w00-2.jpg?v=1625932184753">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-authentic-classic-true-white-vn000ee3w00-3.jpg?v=1625932188197">
                    </div>
                    <div class="Pro-name">VANS CLASSIC AUTHENTIC TRU..<br />VANS</div>
                    <div class="Pro-cost">1.450.000₫</div>
                </div>
                <div class="vans9">
                    <div class="block">
                        <img class="classic" src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-era-classic-black-vn000ewzblk-1.jpg?v=1625933732870">
                        <button class="nut">Tùy chọn</button>
                    </div>
                    <div class="Pro-view">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-era-classic-black-vn000ewzblk-1.jpg?v=1625933732870">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-era-classic-black-vn000ewzblk-2.jpg?v=1625933736357">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-era-classic-black-vn000ewzblk-3.jpg?v=1625933739203">
                    </div>
                    <div class="Pro-name">VANS ERA CLASSIC BLACK<br />VANS</div>
                    <div class="Pro-cost">1.450.000₫</div>
                </div>
                <div class="vans10">
                    <div class="block">
                        <img class="classic" src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-classic-authentic-red-vn000ee3red-1.png?v=1625932676613">
                        <button class="nut">Tùy chọn</button>
                    </div>
                    <div class="Pro-view">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-classic-authentic-red-vn000ee3red-1.png?v=1625932676613">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-classic-authentic-red-vn000ee3red-2.png?v=1625932680123">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-classic-authentic-red-vn000ee3red-3.png?v=1625932682990">
                    </div>
                    <div class="Pro-name">VANS CLASSIC AUTHENTIC RED<br />VANS</div>
                    <div class="Pro-cost">1.450.000₫</div>
                </div>
                <div class="vans11">
                    <div class="block">
                        <img class="classic" src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-authentic-classic-black-black-vn000ee3bka-1.jpg?v=1625939091930">
                        <button class="nut">Tùy chọn</button>
                    </div>
                    <div class="Pro-view">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-authentic-classic-black-black-vn000ee3bka-1.jpg?v=1625939091930">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-authentic-classic-black-black-vn000ee3bka-2.jpg?v=1625939094510">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-authentic-classic-black-black-vn000ee3bka-3.jpg?v=1625939097097">
                    </div>
                    <div class="Pro-name">VANS AUTHENTIC CLASSIC...<br />VANS</div>
                    <div class="Pro-cost">1.450.000₫</div>
                </div>
                <div class="vans12">
                    <div class="block">
                        <img class="classic" src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-slip-on-classic-black-black-vn000eyebka-1.jpg?v=1625936613977">
                        <button class="nut">Tùy chọn</button>
                    </div>
                    <div class="Pro-view">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-slip-on-classic-black-black-vn000eyebka-7.jpg?v=1625936620607">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-slip-on-classic-black-black-vn000eyebka-6.jpg?v=1625936617273">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-slip-on-classic-black-black-vn000eyebka-7.jpg?v=1625936620607">
                    </div>
                    <div class="Pro-name">VANS CLASSIC SLIP-ON BLACK<br />VANS</div>
                    <div class="Pro-cost">1.450.000₫</div>
                </div>
                <div class="vans13">
                    <div class="block">
                        <img class="classic" src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-old-skool-classic-navy-white-vn000d3hnvy-1.jpg?v=1625922070377">
                        <button class="nut">Tùy chọn</button>
                    </div>
                    <div class="Pro-view">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-old-skool-classic-navy-white-vn000d3hnvy-1.jpg?v=1625922070377">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-old-skool-classic-navy-white-vn000d3hnvy-2.jpg?v=1625922077960">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-old-skool-classic-navy-white-vn000d3hnvy-3.jpg?v=1625922080743">
                    </div>
                    <div class="Pro-name">VANS OLD SKOOL CLASSIC...<br />VANS</div>
                    <div class="Pro-cost">1.750.000₫</div>
                </div>
                <div class="vans14">
                    <div class="block">
                        <img class="classic" src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/van-sk8-hi-classic-navywhite-vn000d5invy-1.jpg?v=1625937187163">
                        <button class="nut">Tùy chọn</button>
                    </div>
                    <div class="Pro-view">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/van-sk8-hi-classic-navywhite-vn000d5invy-1.jpg?v=1625937187163">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/van-sk8-hi-classic-navywhite-vn000d5invy-2.jpg?v=1625937190500">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/van-sk8-hi-classic-navywhite-vn000d5invy-3.jpg?v=1625937194193">
                    </div>
                    <div class="Pro-name">VANS SK8-HI CLASSIC...<br />VANS</div>
                    <div class="Pro-cost">1.850.000₫</div>
                </div>
                <div class="vans15">
                    <div class="block">
                        <img class="classic" src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/giay-vans-old-skool-sentry-wc-black-marshmallow-vn0a5kr3vqe-1.jpg?v=1677311929000">
                        <button class="nut">Tùy chọn</button>
                    </div>
                    <div class="Pro-view">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/giay-vans-old-skool-sentry-wc-black-marshmallow-vn0a5kr3vqe-1.jpg?v=1677311929000">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/giay-vans-old-skool-sentry-wc-black-marshmallow-vn0a5kr3vqe-2.jpg?v=1677311930000">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/giay-vans-old-skool-sentry-wc-black-marshmallow-vn0a5kr3vqe-3.jpg?v=1677311931000">
                    </div>
                    <div class="Pro-name">VANS OLD SKOOL SENTRY WC...<br />VANS</div>
                    <div class="Pro-cost">2.600.000₫</div>
                </div>
                <div class="vans15">
                    <div class="block">
                        <img class="classic" src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/giay-vans-sk8-the-lizzie-vn0a4bx1rqj-1-f1b8350f-e8cb-4321-aee7-ffc0a76e54fc.jpg?v=1691659940000">
                        <button class="nut">Tùy chọn</button>
                    </div>
                    <div class="Pro-view">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/giay-vans-sk8-the-lizzie-vn0a4bx1rqj-1-f1b8350f-e8cb-4321-aee7-ffc0a76e54fc.jpg?v=1691659940000">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/giay-vans-sk8-the-lizzie-vn0a4bx1rqj-2.jpg?v=1691659936000">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/giay-vans-sk8-the-lizzie-vn0a4bx1rqj-3.jpg?v=1691659936000">
                    </div>
                    <div class="Pro-name">VANS SK8 THE LIZZIE<br />VANS</div>
                    <div class="Pro-cost">3.200.000₫</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="list-page">
    <ul class="phan-trang">
        <li id="page-link">
            <a id="one" href="#">1</a>
        </li>
        <li class="page-link">
            <a href="#">2</a>
        </li>
        <li class="page-link">
            <a href="#">3</a>
        </li>
        <li class="page-link">
            <a href="#">...</a>
        </li>
        <li class="page-link">
            <a href="#">10</a>
        </li>
        <li class="page-link">
            <a href="#">></a>
        </li>
    </ul>
</div>










<div class="container">
    <div class="nen">
        <div class="area">
            <div class="vans-best-seller">
                <span class="line">_____________________</span>
                <h2><a href="#" class="bestseller">VANS BEST SELLER</a></h2>
                <span class="line">_____________________</span>
            </div>
            <div class="item-best">
                <div class="vans16">
                    <div class="block">
                        <img class="classic" src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-old-skool-black-white-vn000d3hy28-2.jpg?v=1661757331440">
                        <button class="nut">Tùy chọn</button>
                    </div>
                    <div class="Pro-view">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-old-skool-black-white-vn000d3hy28-1.jpg?v=1661757331440">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-old-skool-black-white-vn000d3hy28-3.jpg?v=1661757331440">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-old-skool-black-white-vn000d3hy28-2.jpg?v=1661757331440">
                    </div>
                    <div class="Pro-name">VANS OLD SKOOL CLASSIC..<br>VANS</div>
                    <div class="Pro-cost">1.850.000₫</div>
                </div>
                <div class="vans17">
                    <div class="block">
                        <img class="classic" src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-slip-on-checkerboard-black-off-white-vn000eyebww-2.png?v=1625923440187">
                        <button class="nut">Tùy chọn</button>
                    </div>
                    <div class="Pro-view">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-slip-on-checkerboard-black-off-white-vn000eyebww-1.png?v=1625923436960">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-slip-on-checkerboard-black-off-white-vn000eyebww-2.png?v=1625923440187">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/140/774/products/vans-slip-on-checkerboard-black-off-white-vn000eyebww-3.png?v=1625923334863">
                    </div>
                    <div class="Pro-name">VANS CHECKERBOORD CLIP-ON..<br>VANS</div>
                    <div class="Pro-cost">1.450.000₫</div>
                </div>
                <div class="vans18">
                    <div class="block">
                        <img class="classic" src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-sk8-hi-classic-black-white-vn000d5ib8c-1.jpg?v=1625938546987">
                        <button class="nut">Tùy chọn</button>
                    </div>
                    <div class="Pro-view">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-sk8-hi-classic-black-white-vn000d5ib8c-1.jpg?v=1625938546987">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-sk8-hi-classic-black-white-vn000d5ib8c-2.jpg?v=1625938551507">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/140/774/products/vans-sk8-hi-classic-black-white-vn000d5ib8c-3.jpg?v=1625938555997">
                    </div>
                    <div class="Pro-name">VANS CLASSIC SK8-HI..<br>VANS</div>
                    <div class="Pro-cost">1.950.000₫</div>
                </div>
            </div>
        </div>
    </div>
</div>