html {
    margin: 0;
    display: block;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 130px;
    /* background-color: black; */
}

.top-menu a:hover {
    color: red;
}

.top-menu {
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.top-menu-left {
    padding-left: 160px;
    padding-top: 10px;
}

    .top-menu-left a {
        color: white;
        text-decoration: none;
        padding: 5px;
    }

    .top-menu-left span {
        color: white;
        font-family: Arial;
        font-size: 15px;
    }

.top-menu-right {
    padding-top: 9px;
    padding-right: 175px;
}

    .top-menu-right a {
        color: white;
        text-decoration: none;
        padding: 5px;
    }

    .top-menu-right span {
        color: white;
        font-family: Arial;
        font-size: 15px;
    }



.bot-menu {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bot-menu-left {
    width: 25%;
    padding-left: 185px;
}

    .bot-menu-left img {
        height: 90px;
        padding-top: 10px;
    }

.bot-menu-mid {
    width: 50%;
}

.menu-5-items {
    display: block;
    padding: 20px;
}

.menu-9-items {
    display: block;
    justify-content: center;
}

.menu-5-items .dropdown {
    min-width: 130px;
    padding: 15px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    top: 40px;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 25px 50px -12px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
    z-index: 50;
}

.menu-5-items li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    top: 6px;
}


.menu-5-items .dropdown a {
    font-size: 14px;
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
}

.menu-5-items a {
    text-decoration-line: none;
    color: black;
    font-family: Arial;
    display: inline-table;
    padding: 5px;
}

.menu-5-items ul {
    text-align: center;
}

    .menu-5-items ul li {
        display: inline-table;
    }

.menu-4-items {
    display: block;
    text-align: center;
}

    .menu-4-items li {
        list-style: none;
    }

    .menu-4-items a {
        text-decoration: none;
        color: black;
        padding: 5px;
    }

    .menu-4-items ul li {
        display: inline-block;
    }

.bot-menu-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15%;
}

    .bot-menu-right a {
        color: black;
        padding: 5px;
        font-size: 20px;
    }








.tieu-de {
    width: 100%;
    height: 195px;
    background-image: url(https://bizweb.dktcdn.net/100/140/774/themes/827866/assets/bg_breadcrumb.jpg?1693503377354);
    align-items: center;
    margin-top: 10px;
}

.mid {
    margin-inline: 14%;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    color: white;
}

.duong-dan span {
    padding-right: 5px;
}

    .duong-dan span a {
        text-decoration-line: none;
        color: white;
    }

.duong-dan {
    text-align: center;
    color: white;
    padding-top: 25px;
}

.container {
    margin-inline: 170px;
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
}



div.thanh-filter {
    flex: 0.5;
}

div.trang-tai-khoan {
    font-size: 18px;
    margin: 5px 5px 5px 0;
    line-height: 2;
}

span.xinchao {
    font-weight: bold;
    font-size: 14px;
}

span.ten-cus {
    font-size: 14px;
    color: rgb(210, 30, 30);
    font-weight: bold;
}

div#tablink0 a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

div#tablink0 {
    margin-top: 20px;
    margin-bottom: 20px;
}

div#tablink1 a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

div#tablink1 {
    margin-bottom: 20px;
}

div#tablink2 a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

div#tablink2 {
    margin-bottom: 20px;
}

span#tablink3 a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

span.sl-diachi {
    font-size: 14px;
    margin-left: -2px;
}

div#tablink0 a:hover {
    color: rgb(210, 30, 30);
}

div#tablink1 a:hover {
    color: rgb(210, 30, 30);
}

div#tablink2 a:hover {
    color: rgb(210, 30, 30);
}

span#tablink3 a:hover {
    color: rgb(210, 30, 30);
}








div.content {
    flex: 2.5;
    margin-left: 90px;
}

h3 {
    line-height: 2;
    margin-top: 5px;
    font-size: 18px;
}

span.hoten {
    font-weight: bold;
    line-height: 3;
    font-size: 14px;
}

span.ten-kh {
    font-size: 14px;
}

span.Email {
    font-weight: bold;
    font-size: 14px;
}

span.email {
    font-size: 14px;
}







div.donhang {
    display: none;
}

table.history-buy {
    width: 100%;
    height: 80px;
    /* background-color: red; */
    border: 0.5px solid rgb(187, 185, 185);
    border-collapse: collapse;
}

    table.history-buy th {
        width: 20px;
        background-color: #e1182c;
        border-right: 0.5px solid white;
        font-size: 13px;
        color: white;
        height: 30px;
    }

    table.history-buy td {
        display: table-row;
        justify-content: center;
        position: relative;
    }

        table.history-buy td:not(:first-child) {
            border-top: none;
        }

    table.history-buy td {
        z-index: 30;
        position: absolute;
        display: flex;
        justify-content: center;
        padding-left: 350px;
        padding-top: 13px;
        font-size: 13px;
        font-weight: bold;
    }







div.doimk {
    display: none;
}

    div.doimk p {
        font-size: 14px;
        line-height: 4;
        margin-bottom: 10px;
    }

h5 {
    font-size: 15px;
    font-weight: 100;
    padding-bottom: 10px;
}

input {
    width: 400px;
    height: 45px;
    margin-bottom: 10px;
    padding-left: 20px;
    border: 0.5px solid rgb(187, 185, 185);
}

button.reset {
    width: 160px;
    height: 40px;
    margin-top: 10px;
    background-color: #e1182c;
    color: white;
    border: none;
    border-radius: 4px;
}






div.sodiachi {
    display: none;
}

button.add-address {
    width: 120px;
    height: 40px;
    margin-top: 10px;
    background-color: #e1182c;
    color: white;
    border: none;
    border-radius: 4px;
}

div.thongtintaikhoan {
    display: block;
}




















































.footer {
    height: 635px;
}

.footer-top {
    height: 50%;
    background-image: url(https://bizweb.dktcdn.net/100/140/774/themes/827866/assets/bg_footer.jpg?1693938199648);
    background-size: 100% auto;
    background-repeat: no-repeat;
    object-fit: cover;
}

form {
    text-align: center;
    color: white;
}

    form h3 {
        padding-top: 65px;
        font-size: 22px;
    }

    form h5 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

.form-mail {
    display: flex;
    justify-content: center;
}

    .form-mail div {
        width: 600px;
    }

    .form-mail input {
        height: 50px;
        width: 520px;
        border-radius: 3px;
        border: 1px solid gray;
        outline: #F2F2F2;
        padding-left: 20px;
        color: rgb(212, 208, 208);
    }

    .form-mail button {
        height: 50px;
        width: 100px;
        border-radius: 3px;
        border: 1px solid gray;
        background-color: rgb(153, 6, 6);
        color: white;
        cursor: pointer;
        margin-left: -40px;
    }

.footer-mid {
    height: 41%;
    background-color: rgb(23, 22, 22);
    line-height: 40px;
}

.discription {
    display: flex;
    justify-items: auto;
}

.trai-nghiem {
    width: 30%;
    padding-top: 45px;
    padding-left: 130px;
}

    .trai-nghiem h4 {
        color: white;
    }

    .trai-nghiem p {
        color: grey;
        font-weight: 600;
        padding-top: 10px;
    }

.about-our {
    width: 25%;
    padding-top: 45px;
    padding-left: 100px;
}

    .about-our h4 {
        color: white;
    }

    .about-our a {
        color: grey;
        font-weight: 600;
        text-decoration: none;
        font-size: 14px;
        padding-top: 10px;
    }

.chinh-sach {
    width: 25%;
    padding-top: 45px;
    padding-left: 70px;
}

    .chinh-sach h4 {
        color: white;
    }

    .chinh-sach a {
        color: grey;
        font-weight: 600;
        text-decoration: none;
        font-size: 14px;
        padding-top: 10px;
    }

.footer-bottom {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 14px;
    height: 9%;
    padding-top: 20px;
}

.chu-do {
    color: red;
}
