html {
    margin: 0;
    display: block;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 130px;
    /* background-color: black; */
}

.top-menu a:hover {
    color: red;
}

.top-menu {
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.top-menu-left {
    padding-left: 160px;
    padding-top: 10px;
}

    .top-menu-left a {
        color: white;
        text-decoration: none;
        padding: 5px;
    }

    .top-menu-left span {
        color: white;
        font-family: Arial;
        font-size: 15px;
    }

.top-menu-right {
    padding-top: 9px;
    padding-right: 175px;
}

    .top-menu-right a {
        color: white;
        text-decoration: none;
        padding: 5px;
    }

    .top-menu-right span {
        color: white;
        font-family: Arial;
        font-size: 15px;
    }

/* bottom menu */
.bot-menu a:hover {
    background-color: #e1182c;
    color: white;
}

.bot-menu {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bot-menu-left {
    width: 25%;
    padding-left: 185px;
}

    .bot-menu-left img {
        height: 90px;
        padding-top: 10px;
    }

.bot-menu-mid {
    width: 50%;
}

.menu-5-items {
    display: block;
    padding: 20px;
}

.menu-9-items {
    display: block;
    justify-content: center;
}

.menu-5-items .dropdown {
    min-width: 130px;
    padding: 15px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    top: 40px;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 25px 50px -12px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
}

.menu-5-items li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    top: 6px;
}

.menu-5-items .dropdown a {
    font-size: 14px;
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
}

.menu-5-items a {
    text-decoration-line: none;
    color: black;
    font-family: Arial;
    display: inline-table;
    padding: 5px;
}

.menu-5-items ul {
    text-align: center;
}

    .menu-5-items ul li {
        display: inline-table;
    }

.menu-4-items {
    display: block;
    text-align: center;
}

    .menu-4-items li {
        list-style: none;
    }

    .menu-4-items a {
        text-decoration: none;
        color: black;
        padding: 5px;
    }

    .menu-4-items ul li {
        display: inline-block;
    }

.bot-menu-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15%;
}

    .bot-menu-right a {
        color: black;
        padding: 5px;
        font-size: 20px;
    }

.tieu-de {
    margin-top: 40px;
    width: 100%;
    height: 195px;
    background-image: url(https://bizweb.dktcdn.net/100/140/774/themes/827866/assets/bg_breadcrumb.jpg?1693503377354);
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    color: white;
}
.dong-tieu-de h1{
    color: white;
}

.duong-dan {
    text-align: center;
    color: white;
    padding-top: 25px;
}

    .duong-dan span {
        padding-right: 5px;
    }

        .duong-dan span a {
            text-decoration-line: none;
            color: white;
        }













.container {
    margin-inline: 120px;
    min-height: 400px;
}

.img-sp {
    width: 90px;
    margin-left: 20px;
}

table {
    margin-top: 70px;
}

.top-cart th {
    border-top: 1px solid rgb(183, 183, 183);
    max-height: 90px;
    padding: 10px 0 10px;
    border-bottom: 1px solid rgb(183, 183, 183);
}

    .top-cart th .sp {
        max-width: 100px;
        border-right: 1px solid rgb(183, 183, 183);
    }

.bot-cart td {
    border-bottom: 1px solid rgb(183, 183, 183);
    padding: 40px 0 40px;
}

.inf-pro a {
    text-decoration: none;
    color: rgb(82, 82, 82);
    line-height: 30px;
}

.inf-pro {
    display: flex;
    padding-left: 90px;
}

.inf-pro-right {
    /* line-height: 50px; */
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 25px;
    padding-top: 15px;
}

    .inf-pro-right span {
        padding-left: 0px;
        font-size: 13px;
    }

.tong-so-tien {
    margin-top: 20px;
}

.tongtien {
    font-size: 25px;
    padding-left: 800px;
    font-weight: 200;
}

.total {
    color: red;
    font-size: 25px;
}

.ttmh {
    margin-left: 700px;
    padding: 12px 18px 12px 18px;
    background-color: rgb(235, 232, 232);
    border: rgb(204, 204, 204);
}

.thtt {
    padding: 12px 18px 12px 18px;
    background-color: rgb(245, 4, 4);
    border: rgb(204, 204, 204);
    color: white;
    margin-left: 15px;
}

button {
    margin-top: 20px;
}

table, th, td {
    border: 1px solid rgb(214, 214, 214);
    border-collapse: collapse;
}

.soluong button {
    margin: 0 3px 0 3px;
    border: white;
    background-color: white;
    font-size: 21px;
}

.soluong {
    text-align: center;
}

.pro-price {
    /* padding-left: 15px; */
    display: flex;
    justify-content: center;
}

.xoa-sp {
    width: 70px;
}

i.fa-solid.fa-x {
    /* padding-left: 28px; */
    display: flex;
    justify-content: center;
}

.ratien {
    display: flex;
}

.tieptucmuahang button a {
    text-decoration: none;
    color: black;
}

.tieptucmuahang button {
    border: #555;
    background-color: whitesmoke;
    height: 60px;
    width: 190px;
}

.thanhtoan button a {
    text-decoration: none;
    color: #F2F2F2;
    font-weight: bolder;
}

.thanhtoan button {
    border: #555;
    background-color: #e1182c;
    height: 60px;
    width: 190px;
}

    .thanhtoan button:hover {
        background-color: white;
        border: 1px solid #e1182c;
        color: red;
    }

    .thanhtoan button a:hover {
        color: #e1182c;
    }

.col-12 {
    display: flex;
    column-gap: 50%;
    margin-bottom: 30px;
}
.col-12 h4{
    font-size: 26px;
}














.footer {
    height: 635px;
}

.footer-top {
    height: 50%;
    background-image: url(https://bizweb.dktcdn.net/100/140/774/themes/827866/assets/bg_footer.jpg?1693938199648);
    background-size: 100% auto;
    background-repeat: no-repeat;
    object-fit: cover;
}

form {
    text-align: center;
    color: white;
}

    form h3 {
        padding-top: 65px;
        font-size: 22px;
    }

    form h5 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

.form-mail {
    display: flex;
    justify-content: center;
}

    .form-mail div {
        width: 600px;
    }

    .form-mail input {
        height: 50px;
        width: 520px;
        border-radius: 3px;
        border: 1px solid gray;
        outline: #F2F2F2;
        padding-left: 20px;
        color: rgb(212, 208, 208);
    }

    .form-mail button {
        height: 50px;
        width: 100px;
        border-radius: 3px;
        border: 1px solid gray;
        background-color: rgb(153, 6, 6);
        color: white;
        cursor: pointer;
        margin-left: -40px;
    }

.footer-mid {
    height: 41%;
    background-color: rgb(23, 22, 22);
    line-height: 40px;
}

.discription {
    display: flex;
    justify-items: auto;
}

.trai-nghiem {
    width: 30%;
    padding-top: 45px;
    padding-left: 130px;
}

    .trai-nghiem h4 {
        color: white;
    }

    .trai-nghiem p {
        color: grey;
        font-weight: 600;
        padding-top: 10px;
    }

.about-our {
    width: 25%;
    padding-top: 45px;
    padding-left: 100px;
}

    .about-our h4 {
        color: white;
    }

    .about-our a {
        color: grey;
        font-weight: 600;
        text-decoration: none;
        font-size: 14px;
        padding-top: 10px;
    }

.chinh-sach {
    width: 25%;
    padding-top: 45px;
    padding-left: 70px;
}

    .chinh-sach h4 {
        color: white;
    }

    .chinh-sach a {
        color: grey;
        font-weight: 600;
        text-decoration: none;
        font-size: 14px;
        padding-top: 10px;
    }

.footer-bottom {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 14px;
    height: 9%;
    padding-top: 20px;
}

.chu-do {
    color: red;
}

.thanhtoan {
    padding: 20px 30px;
    background-color: red;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

    .thanhtoan a {
        color: white;
        text-decoration: none;
    }

    .thanhtoan:hover {
        background-color: papayawhip;
    }

    .thanhtoan a:hover {
        background-color: papayawhip;
        color: red;
        text-decoration: none;
    }

.tieptucmuahang {
    padding: 20px 30px;
    background-color: whitesmoke;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}

    .tieptucmuahang a {
        color: black;
        text-decoration: none;
    }
    .tieptucmuahang:hover{
        border: 1px solid red;
    }
    .tieptucmuahang a:hover{
        text-decoration: none;
        color: black;
    }